<form [formGroup]="profileForm" (ngSubmit)="saveStudent()">
    <div class="form-div">
        <div class="title-div" >Add Student</div>
        <div class="input-div">
            <label for="name">name: </label>
            <input name="name"  formControlName="name" >
        </div>
        <div class="input-div">
            <label for="major" > major: </label>
            <input name="major"  formControlName="major">
        </div>
        <div class="button-div">
            <button type ="submit" >Add</button>
        </div>
    </div>
</form>